.Content{
    display: flex;
    flex-direction: row;
}

.projectContainer{
    border-radius: 5%;

    height: 90vh;
    width: 25%;
    float: left;
    padding: 10px;
    box-shadow: 5px 10px 25px #888888;
    margin: 50px;
}

.taskContainer{
    border-radius: 5%;
    float: right;
    height: 90vh;
    width: 75%;
  

    margin-top: 50px;
    margin-right: 50px;
    

    padding: 10px;
    box-shadow: 5px 10px 25px #888888;

}